.careers-container{
    padding: 60px 10%;
}
.career-title{
    font-size: 1.5vw;
    text-align: center;
    color: rgb(148, 54, 236);
   gap: 12px;
}
.culture-section{
    margin-top:30px;
    color: rgb(11, 11, 11);
    
}
.culture-section h2{
    font-size: 1.4vw;
    padding: 12px;
}
.culture-section li{
    color:rgb(23, 3, 4);
    
}
.careers-sub{
    font-size: 1vw;
    text-align: center;
}
.jobs-section{
    margin-top: 40px;
}
.job-title{
    color:orange;
}
.job-card{
    background: #f9f9f9;
    padding: 20px;
    margin: 15px auto;
    border-radius: 10px;
    max-width: 500px;
    box-shadow:7px 10px 29px 12px rgba(100,100,111,0.2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    cursor: pointer;
    
}
.apply-btn{
    margin-top:12px;
    color: blue;
    cursor: pointer;
}
.job-card:hover{
    transform: translateY(-4px);
}