.faq-section{
    padding: 40px;
    /*background:rgb(230, 113, 4);*/
    
}
.faq-header{
    text-align: center;
    max-width: 700px;
    margin: 0 auto 60px;
}
.faq-header h1{
    color:rgb(230, 113, 4);
    font-size:18px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.faq-container{
    max-width: 900px;
    margin: 0 auto;
}
.faq-item{
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0,0,0,0.05);
    transition: 0.3s ease;
    padding: 12px;
    
}
.faq-item:hover{
    transform: translateY(-4px);
}
.faq-question{
    padding: 22px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.faq-question h3{
    font-size: 16px;
    font-weight: 600;
    color: #0a0a0a;
    margin: 0;
}
.icon{
    font-size:24px;
    font-weight: bold;
    color: #1f3c88;
}
.faq-answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding: 0 25px;
}
.faq-answer p{
    padding: 10px 0 20px;
    font-size: 15px;
    color: #555;
    line-height: 1.6;
}
.faq-item.active-item .faq-answer{
    max-height: 250px;
}